# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Hardhat
artifacts/
cache/
typechain-types/
coverage/

# Build
dist/
bundle/
types/

# External repos (copyright)
contracts/Contracts/

# OS/IDE
.DS_Store
.idea/
.vscode/
.env.networks
multi_hop/.env
multi_hop/node_modules/
multi_hop/node_modules/
